
body {
    margin:0;
}

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img1{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 90%;
}

.img2{
  background-image: url("imgs/img-welcome11.jpg");
  min-height: 60%;
}

.img3{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 100%;
}

/* start neon text */
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,            /* TOO LAGGY */
    0 0 20px #fff,
    0 0 40px #0ff,       /* REMOVED NEON WELCOME TEXT*/
    0 0 80px #0ff,
    0 0 90px #0ff,           /* !! CHECK LATER !! */
    0 0 100px #0ff,          
    0 0 150px #0ff;
}                              

/* end neon text */

.text1 {
  color: #777;
  background-color:white; 
  text-align:center;
  text-align: justify;
}

.text2 {
  position: relative;
  top:200px; /*top:200px; right:7%; for higher res*/
  right:85px;
}

.text3 {
  color: #777;
  background-color:black;
  text-align:center; 
  padding:20px 50px; 
  text-align: justify;
}

.sidekick {
  position: relative;
  top:350px;
  right:100px;
  padding-left: 1em;
  border-left: 0.2em solid white; 
  border-right: 0.2em solid white;              /*quote in mainpage */
  padding-right: 1em;
  font-family: 'Courier New', monospace; 
  color:WHITE;
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: 100;
}



.sidekick3 {
  position: relative;
  top:90px; /*top:90px; left:28%; */
  left:380px;
  font-family: Georgia, serif;
  font-size: 27px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: italic;
  font-variant: small-caps;
  text-transform: lowercase;
  float:left; background-color:white
}

/*   Sign up now ! */

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
}
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 55%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn:hover::before {
  background: black;
  width: 100%;
}


	

/* finish mainpage now ! */


a {
  text-decoration: none; 
  color: #000000;

}




/* START signup page */

.pagesignupcss {
  background-image:url(imgs/backgroundsignup.jpg);
  background-repeat: no-repeat;
  background-size: cover
}



.upbar2 {
 float: right;

}


.middlepage {
  font-family: 'Courier New', monospace; 
  margin:auto; 
  width:60%; 
  padding: 40px; 
}

.inputs{
  border-radius: 35px;
  margin-bottom: 10px; 
  background : rgba(255, 255, 255, 0.15);
  color:white;
}
 .tablesignup {
  color:white; 
  padding:30px;  
  background-color: rgba(0, 0, 0, 0.61);
 }

 .tablesignup tr {
   text-align: center;
 }

.submitformsignup {
  background: #fc636b;
    border: none;
    color: #fff;
    padding: 11px 15px;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}


/* FINISH signup page */

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
}
#moveLeft {
  left: 0;
}
#moveRight {
  right: 0;
}
.container:hover .btn-nav,
.container:hover .container-indicators {
  visibility: visible;
}


/* THIS IS JUST A TEST FOR SLIDER */
/* START store page */

.storepagecss {
  background-image:url(imgs/3162421.jpg);
 /* background-repeat: no-repeat;*/
 background-size: contain; 
}


.expmore {
  color : goldenrod;
  font-size: small;
}

.section1 {
  margin: 10px;
}

.childs1{
  background-color: #777;
}



/*  END store page */








/*START BUTTON ANIMATION*/

#div-bar {
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  
.a-button {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }


.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Fifth Button */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #2D3142;
  }



  /* Sixth Button */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-6 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
  }
  
  #button-6:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #BFC0C0;
    transform: rotate(80deg);
  }
  
  #button-6:hover a {
    color: #2D3142;
  }

  
  
  