
body {
    margin:0;
}

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img1{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 100%;
}

.img2{
  background-image: url("imgs/img-welcome11.jpg");
  min-height: 100%;
}

.img3{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 100%;
}
























/*START BUTTON ANIMATION*/

#div-bar {
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  
.a-button {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }


.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Fifth Button */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #2D3142;
  }



  /* Sixth Button */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-6 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
  }
  
  #button-6:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #BFC0C0;
    transform: rotate(80deg);
  }
  
  #button-6:hover a {
    color: #2D3142;
  }

  
  
  