
body {
    margin:0;
}

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img1{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 100%;
}

.img2{
  background-image: url("imgs/img-welcome11.jpg");
  min-height: 60%;
}

.img3{
  background-image: url("imgs/img-welcome22.jpg");
  min-height: 100%;
}

/* start neon text */
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,            /* TOO LAGGY */
    0 0 20px #fff,
    0 0 40px #0ff,       /* REMOVED NEON WELCOME TEXT*/
    0 0 80px #0ff,
    0 0 90px #0ff,           /* !! CHECK LATER !! */
    0 0 100px #0ff,          
    0 0 150px #0ff;
}                              

/* end neon text */


/* START STEPS CSS */
.stepscss {
  font-family: "Lucida Console", Monaco, monospace;
    border:solid black 1px;
    background-color:  rgba(255, 255, 255, 0.7);
    position:relative; 
    width: 250px;
    height: 150px; 
    display: inline-block;
    margin-top:10%;  
    margin-left: 150px;
    text-align: center;
}

/*
width:20%;
    height:20%; 
    display: inline-block;  
    margin-left: 10%;
    margin-top:10%;
    text-align: center;
 */

/* END OF STEPS CSS */

a {
  text-decoration: none; 
  color: #000000;

}














/*START BUTTON ANIMATION*/

#div-bar {
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  
.a-button {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }


.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Fifth Button */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #2D3142;
  }



  /* Sixth Button */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-6 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
  }
  
  #button-6:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #BFC0C0;
    transform: rotate(80deg);
  }
  
  #button-6:hover a {
    color: #2D3142;
  }

  
  
  